replicaCount: 1

image:
  repository: ghcr.io/flaresolverr/flaresolverr
  pullPolicy: IfNotPresent
  tag: "v3.3.21"

nameOverride: ""
fullnameOverride: ""

podSecurityContext: {}

securityContext: {}

env:
  - name: LOG_LEVEL
    value: "info"
  - name: LOG_HTML
    value: "false"
  - name: TZ
    value: "UTC"
  - name: BROWSER_TIMEOUT
    value: "90000"
  - name: CHALLENGE_TIMEOUT
    value: "90000"

service:
  type: ClusterIP
  port: 8191

resources:
  requests:
    memory: "512Mi"
    cpu: "500m"
  limits:
    memory: "1Gi"
    cpu: "1000m"

nodeSelector: {}

tolerations: []

affinity: {}
